{% extends 'base.html.twig' %}

{% block title %}Hello adresseController!{% endblock %}

{% block body %}
 <div class="addres-area black-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single-address text-center">
                        <div class="addres-icon">
                            <img src="img/icon/1.png" alt="">
                        </div>
                        <h3>Notre Adresse</h3>
                        <p>ZI, Cité Ettahrir <br>
                            3263 Tataouine</p>

                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-address text-center">
                        <div class="addres-icon">
                            <img src="img/icon/2.png" alt="">
                        </div>
                        <h3>Heure d'ouverture</h3>
                        <p>Lundi a Samedi <br> 8am a 5pm </p>
                        </div>
                    </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-address text-center">
                        <div class="addres-icon">
                            <img src="img/icon/3.png" alt="">
                        </div>
                        <h3>Déposer un message</h3>
                        <p>info@sepjt.tn<br>
                            75 870 338</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
